.Application {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    padding: 20px;
    background-image: url(/src/components/imgs/nubes_1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}